body {
    background: #ddd;
}

/* Meet our support clients Gradiant */
.bg-image{
    position: relative;
    left: 100px;
    bottom: 150px;
}
.client-gradiant {
    background-image: linear-gradient(to left, red, rgb(207, 207, 231));
    background-repeat: no-repeat;
    background-blend-mode: multiply;


}

#client-card-2 {
    position: relative;
    right: 100px;
    bottom: 100px;
    z-index: 1;
}
#client-card-3 {
    position: absulate;
    bottom: 50px;
}
@media screen and (max-width: 576px){
    #client-card-1, #client-card-2, #client-card-3{
        position: static;
    }
}